<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index page</title>
  </head>
  <body>
    <ul>
      <h3><%= title %></h3>
      <%messages.forEach((message) => { %> <%- include('user', {message}) %>
      <%})%>
    </ul>
    <%- include('nav', links) %>
  </body>
</html>
